.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;

  margin-top: 50px;
}

.buttonLine {
  display: flex;
  place-content: center;

  margin: 20px;
}

.buttonLabel {
  display: flex;
  place-content: center;
  align-self: center;
  margin: 10px;

  min-width: 20%;
}

.countersContainer {
  display: flex;
  place-content: center space-around;
  margin: 50px 0;
}

.betButton {
  display: flex;
  place-content: center;
  align-self: center;
  background-color: rgba(57, 90, 207);

  width: 80px;
  height: 20px;
  padding: 10px;
  margin: 10px;

  border-radius: 3px;
}

.counter {
  display: flex;
  place-content: center;

  background-color: rgb(87, 96, 116);
  width: 20px;
  height: 20px;
  padding: 10px;

  border-radius: 3px;
}

.blink {
  opacity: 0.1;
}

@keyframes flashAnimation {
  5% {
    background-color: rgb(0, 18, 85);
  }
}

.flashAnimation {
  animation: flashAnimation 00.7s;
}
